@model IEnumerable<Suaah.Models.FlightClass>

@{
    ViewData["Title"] = "Index";
}


<div class="text-center  m-2 mt-5 p-5 h">
    <h1>Flights Classes</h1>
</div>
<hr />

@if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Manager))
{
    <div class="row m-2">
        <a class="btn btn-danger col-12" asp-action="Create">Create New Class</a>

    </div>

}
<form method="get" asp-action="Index" class="m-1">
    <div class="form-actions no-color text-center p-3 row">

        <div class="col-3">
            <label class="control-label">Search</label>

            <input name="name" list="list" class="form-control" value="@ViewBag.name" />
        </div>
        <input name="order" id="ord" value="@ViewBag.order" hidden />
        <datalist id="list">
            @foreach (var item in ViewBag.Names)
            {
                <option>@item</option>
            }
        </datalist>
       <div class="col-8">
         <partial name="_Pagination" />
     </div>
 
        <br />
    </div>
   <input type="submit" class="btn btn-outline-danger p-2  btn" style="width:100%" onclick="go();" />
</form>


<div class="text-center">
    <a asp-action="Index" class="btn btn-outline-info my-4">Back to Full List</a>
</div>
<table class="table table-hover table-striped text-center p-3">
    <thead>
        <tr>
            <th>
                <a asp-route-pageSize="@ViewBag.PageSize" asp-route-pageNumber="@ViewBag.PageNumber" asp-action="Index" asp-route-order="@ViewBag.order" asp-route-name="@ViewBag.name">
                    @Html.DisplayNameFor(model => model.Class)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Class)
                </td>

                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                    
                    <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        function go() {
            if (document.getElementById("ord").value == "desc") {
                document.getElementById("ord").value = "asc";
            }
            else
                document.getElementById("ord").value = "desc";
        }
    </script>
}
