@model Suaah.Models.HotelBookingHeaderAndDetails
@using Suaah.Data
@using System.Security.Claims
@inject ApplicationDbContext _context
@{

    var claimIdentity = (ClaimsIdentity)User.Identity;
    var claim = claimIdentity.FindFirst(ClaimTypes.NameIdentifier);

    var h = _context.HotelBookingHeader.Where(c => c.CustomerId == claim.Value);
}
<br />
<div class="container">
    <div class="col-12 text-center">
        <a class="btn btn-outline-info btn-sm" asp-action="Index">
            Create New Hotel Reservation
        </a>
    </div>
</div>
<br />


<form asp-action="Index" method="get">
    <div class="form-actions no-color text-center p-3">


        <div class="w-25 d-inline-block">
            Booking Date: <input type="date" name="bookingd" class="p-2" />
        </div>
        <div class="w-25 d-inline-block">
            Payment Date: <input type="date" name="payment" class="p-2" />
        </div><br /><br />

        <input type="search" list="hid" name="hid" value="@ViewData["hid"]" placeholder="Header Id" class="p-2" />
        <datalist id="hid">
            @foreach (var item in h)
            {
                <option>@item.Id</option>
            }
        </datalist>

        <input type="search" list="hprice" name="hprice" value="@ViewData["hprice"]" placeholder="Price" class="p-2" />
        <datalist id="hprice">
            @foreach (var item in h)
            {
                <option>@item.TotalPrice</option>
            }
        </datalist>
         
         <br />
         <br />
        <partial name="_Pagination" /> 
           <br />
         <br />
         <a asp-action="CustomerBooking" class="btn mx-2 btn-danger"
           asp-route-hid="@ViewData["hid"]"
           asp-route-hprice="@ViewData["hprice"]"
           asp-route-pageSize="@ViewData["pageSize"]"
           asp-route-pageNumber="@ViewData["pageNumber"]"
           asp-route-sort="price" asp-route-ordersort="@ViewBag.ordersort">
            Sort By Total Price
        </a>
        <br />
        <br />
        <br />
        <input type="submit" value="-  Search  -" class="btn btn-outline-danger p-2 w-100" asp-action="CustomerBooking" />
        <br />
        <br />
        <a asp-action="CustomerBooking" class="btn btn-outline-info my-4">Back to Full List</a>

    </div>
</form>


<form asp-action="CustomerBooking">
    <div class="container">
        @foreach (var item in Model.HotelBookingHeaders)
        {
            <div class="card">
                <div class="card-header bg-dark text-light ml-0">
                    <div class=" row container">
                        <div class="col-6">
                            Booking Summary for Booking No. {@item.Id}
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <div class="container rounded p-2">
                        <div class="row">
                            <div class="col-12 col-lg-6 pb-4">
                                <div class="row">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-info">Booking Header</span>
                                    </h4>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Name</label>
                                    </div>
                                    <div class="col-9">
                                        <input class="form-control" value="@item.Name" readonly />
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Booking Date</label>
                                    </div>
                                    <div class="col-9">
                                        <input class="form-control" value="@item.BookingDate.ToShortDateString()" readonly />
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Payment Date</label>
                                    </div>
                                    <div class="col-9">
                                        <input class="form-control" value="@item.PaymentDate.ToShortDateString()" readonly />
                                    </div>
                                </div>
                                <div class="row my-1">
                                    <div class="col-3">
                                        <label>Total Price</label>
                                    </div>
                                    <div class="col-9">
                                        <input class="form-control" value="@item.TotalPrice.ToString("c")" readonly />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br />

                        <div class="col-12 col-lg-5 ">
                            <h4 class="d-flex justify-content-between align-items-center mb-3">
                                <span class="text-info">Booking Details</span>
                            </h4>
                            @foreach (var item2 in item.HotelBookingDetails)
                            {
                                <ul class="list-group mb-3">

                                    <li class="list-group-item d-flex justify-content-between">
                                        <div>
                                            <h6 class="my-0 text-danger">Room, Hotel</h6>
                                            <small class="text-dark">@item2.HoteRoom.Description, @item2.HoteRoom.Hotel.Name</small>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between">
                                        <div>
                                            <h6 class="my-0 text-danger">Cancel Before(Hours)</h6>
                                            <small class="text-dark">@item2.HoteRoom.CancelBeforeHours</small>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between">
                                        <div>
                                            <h6 class="my-0 text-danger">Check In Date</h6>
                                            <small class="text-dark">@item2.CheckInDate</small>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between">
                                        <div>
                                            <h6 class="my-0 text-danger">Number Of Days</h6>
                                            <small class="text-dark">@item2.NumberOfDays</small>
                                        </div>
                                    </li>
                                    <li class="list-group-item d-flex justify-content-between">
                                        <div>
                                            <h6 class="my-0 text-danger">Number Of Rooms</h6>
                                            <small class="text-dark">@item2.NumberOfRooms</small>
                                        </div>
                                    </li>

                                    <li class="list-group-item d-flex justify-content-between bg-white">
                                        <small class="text-dark">Price For Day</small>
                                        <strong class="text-dark">@item2.PriceForDay</strong>
                                    </li>
                                </ul>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer">
                @*<div class="row">
            <div class="col-sm-12 col-lg-4 col-md-6 offset-lg-8 offset-md-6 ">
            <button type="submit" value="Place Order" class="btn btn-primary form-control" asp-action="Summary">Place Booking</button>
            </div>
            </div>*@
            </div>

            <hr />
            <hr />
        }
    </div>
</form>
