@model IEnumerable<Suaah.Models.HotelRoom>
@using Suaah.Data
@inject ApplicationDbContext _context
@{
    ViewData["Title"] = "Booking";

    var hotels = _context.Hotels.ToList();
    var rooms_ = _context.HotelRooms.ToList();
    var services = _context.Services.ToList();
}

<div class="text-center  m-2 mt-5 p-5 h">
    <h1>Booking Room(s)</h1>
</div>


<form asp-action="Index" method="get" class="m-5">
    <div class="form-actions no-color text-center p-3">

        <input type="search" list="rhotel" name="rhotel" value="@ViewData["rhotel"]" placeholder="Hotel Name" class="p-2" />
        <datalist id="rhotel">
            @foreach (var item in hotels)
            {
                <option>@item.Name</option>
            }
        </datalist>

        <input type="search" list="rdesc" name="rdesc" value="@ViewData["rdesc"]" placeholder="Room Desc." class="p-2" />
        <datalist id="rdesc">
            @foreach (var item in rooms_)
            {
                <option>@item.Description</option>
            }
        </datalist>

         <input type="search" list="rprice" name="rprice" value="@ViewData["rprice"]" placeholder="Room Price" class="p-2" />
        <datalist id="rdesc">
            @foreach (var item in rooms_)
            {
                <option>@item.Price</option>
            }
        </datalist> 
        
        <input type="search" list="rservice" name="rservice" value="@ViewData["rservice"]" placeholder="Room Service" class="p-2" />
        <datalist id="rservice">
            @foreach (var item in services)
            {
                <option>@item.Name</option>
            }
        </datalist>
       
         <br />
        <br />
        <partial name="_Pagination" />
        <br />
        <br />

         <input type="submit" value="-  Search  -" class="btn btn-outline-danger p-2 " style="width:100%" />
        <br />

        <a asp-action="Index" class="btn btn-outline-info my-4">Back to Full List</a>

    </div>
</form>

    @foreach (var room in Model)
    {
        <div class="card">
            <div class="card-header bg-dark text-light ml-0">
                <div class=" row container">
                    <div class="col-6">
                        <h3> @room.Hotel.Name Hotel</h3>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="container rounded p-2">
                    <div class="row">
                        <div class="col-12 col-lg-6 pb-4">
                            <div class="row">
                                <h4 class="d-flex justify-content-between align-items-center mb-3">
                                    <span class="text-info">Room</span>
                                </h4>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Price</label>
                                </div>
                                <div class="col-9">
                                    <input class="form-control text-danger text-center" value="@room.Price" readonly />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label title="You Can Cancel Booking Before ... Hours">Cancel Before{Hours}</label>
                                </div>
                                <div class="col-9">
                                    <input class="form-control text-danger text-center" value=" @room.CancelBeforeHours" readonly />
                                </div>
                            </div>
                            <div class="row my-1">
                                <div class="col-3">
                                    <label>Description</label>
                                </div>
                                <div class="col-9">
                                    <textarea class="form-control text-danger text-center" asp-for="@room.Description" readonly ></textarea>
                                </div>
                            </div>

                        </div>
                        <div class="col-8 col-lg-5 offset-lg-1 text-left position-relative">
                             <img src="@room.ImageUrl" style="width:80%; height:auto; position:absolute" />
                        </div>
                    </div>
                    <br />

                    <div class="col-12 col-lg-6 pb-4">
                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                            <span class="text-info">Services</span>
                        </h4>
                        @foreach (var item in room.Services)
                        {
                            <ul class="list-group mb-3">

                                <li class="list-group-item d-flex justify-content-between">
                                    <div>
                                        <h6 class="my-0 text-danger">> @item.Services.Name</h6>
                                    </div>
                                </li>
                            </ul>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                    <a class="btn btn-primary form-control" asp-area="Customer" asp-action="Create" asp-route-roomId="@room.Id">Booking</a>
            </div>
        </div>


        <hr />
        <hr />

    <br>
}


