@model Suaah.Models.Airline

@{
    ViewData["Title"] = "Details";
    List<Flight> flights = ViewBag.flights;
}

<h1>Details</h1>

<div>
    <h4>Airline</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
@if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Manager))
{
    <h1 style="text-align:center;">Flights</h1>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Departing Gate
                </th>
                <th>
                    Arrive Gate
                </th>
                <th>
                    Number Of Stops
                </th>
                <th>
                    Take off Time
                </th>
                <th>
                    Airline
                </th>
                <th>
                    From
                </th>
                <th>
                    To
                </th>
                <th>
                    Classes
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in flights)
            {
                <tr>
                    <td>
                        @item.DepartingGate
                    </td>
                    <td>
                        @item.ArriveGate
                    </td>
                    <td>
                        @item.NumberOfStops
                    </td>
                    <td>
                        @item.LeaveTime
                    </td>
                    <td>
                        @item.Airline.Name
                    </td>
                    <td>
                        @item.DepartingAirport.Country.Name
                    </td>
                    <td>
                        @item.ArrivingAirport.Country.Name
                    </td>
                    <td>
                        <ul>
                            @foreach (FlightsClasses clas in item.FlightClasses)
                            {
                                <li> @clas.FlightClass.Class</li>
                            }
                        </ul>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
<div>
    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Manager))
    {
        <a asp-action="Edit" asp-route-id="@Model.Code">Edit</a> <span>|</span>
    }
    <a asp-action="Index">Back to List</a>
</div>
