@model Suaah.Models.Airline

@{
    ViewData["Title"] = "Details";
    List<Flight> flights = ViewBag.flights;
}


<div class="m-4 text-end">
    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Manager))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Code" class="btn btn-danger">Edit</a>
    }
    <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
</div>


<div class="card m-4 p-2 " style="width: 100%;">
    <div class="card-body">
        <h1 class="text-center m-2">Details of  @Html.DisplayFor(model => model.Name)</h1>
        <div class="container rounded p-2">
            <div class="row">
                <div class="col-12 col-lg-6 pb-4">

                    <div class="row my-1">
                        <div class="col-3">
                            <h4 class="card-subtitle mb-2 text-muted d-inline">Name:</h4>
                        </div>
                        <div class="col-9">
                            <p class="card-text f">@Html.DisplayFor(model => model.Name)</p>
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-3">
                            <h4 class="card-subtitle mb-2 text-muted d-inline">Country:</h4>
                        </div>
                        <div class="col-9">
                            <p class="card-text d-inline f"> @Html.DisplayFor(model => model.Country.Name)</p> <br /><br />
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-3">
                            <h4 class="card-subtitle mb-2 text-muted d-inline">Description:</h4>
                        </div>
                        <div class="col-9">
                            <p class="card-text d-inline f">@Html.DisplayFor(model => model.Description)</p> <br /><br />
                        </div>
                    </div>
                </div>
                <div class="col-8 col-lg-5 offset-lg-1 text-left position-relative">
                    <img src="@Model.ImageUrl" style="width:80%; height:auto; position:absolute" />
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />

<br />




@if (flights.Count > 0)
{
<h1 style="text-align:center; margin-top:20px;">Flights</h1>
<table class="table table-hover table-striped text-center p-3">
    <thead>
        <tr>
            <th>Departing Gate
            </th>
            <th>
                Arrive Gate
            </th>
            <th>
                Number Of Stops
            </th>
            <th>
                Take off Time
            </th>
            <th>
                Airline
            </th>
            <th>
                From
            </th>
            <th>
                To
            </th>
            <th>
                Classes
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in flights)
        {
            <tr>
                <td>
                    @item.DepartingGate
                </td>
                <td>
                    @item.ArriveGate
                </td>
                <td>
                    @item.NumberOfStops
                </td>
                <td>
                    @item.LeaveTime
                </td>
                <td>
                    @item.Airline.Name
                </td>
                <td>
                    @item.DepartingAirport.Country.Name
                </td>
                <td>
                    @item.ArrivingAirport.Country.Name
                </td>
                <td>
                    <ul>
                        @foreach (FlightsClasses clas in item.FlightClasses)
                        {
                            <li> @clas.FlightClass.Class</li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>
}