@model IEnumerable<Suaah.Models.Airline>
@using Suaah.Data
@inject ApplicationDbContext _context
@{
    ViewData["Title"] = "Index";
    var countries = _context.Countries.ToList();
}

<div class="text-center  m-2 mt-5 p-5 h">
    <h1>Airlines</h1>
</div>
<hr />

@if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Manager))
{
    <div class="row m-2">
        <a class="btn btn-danger col-12" asp-action="Create">Create New Airline</a>
    </div>

}
<form method="get" asp-action="Index" class="m-1">
    <div class="row text-center">
        <div class="col-2 m-2">
            <label class="control-label">Search</label>
            <input name="search" list="list" class="form-control" value="@ViewBag.search" />
        </div>
        <div class="col-2 m-1">
            <label class="control-label">Type of Search</label>
            <select name="type" class="form-control form-select" asp-items="@ViewBag.types"></select>
        </div>  
        <div class="col-6 m-4 ">
             <partial name="_Pagination" />
        </div>

        <input name="ordersort" id="ord" value="@ViewBag.ordersort" hidden />
        <input name="order" value="@ViewBag.order" hidden />

    </div>
    <datalist id="list">

    </datalist>
    <br />
    <input type="submit" value="-  Search  -" class="btn btn-outline-danger p-2  btn" style="width:100%" onclick="go();" />

</form>


<div class="text-center">
    <a asp-action="Index" class="btn btn-outline-info my-4">Back to Full List</a>
</div>
<table class="table table-hover table-striped text-center p-3">
    <thead>
        <tr>
            <th>
                <a asp-route-pageSize="@ViewBag.PageSize" asp-route-pageNumber="@ViewBag.PageNumber" asp-action="Index" asp-route-order="name" asp-route-ordersort="@ViewBag.ordersort" asp-route-search="@ViewBag.search" asp-route-type="@ViewBag.types.SelectedValue">
                    @Html.DisplayNameFor(model => model.Name)
                </a>
            </th>
            <th>
                <a asp-route-pageSize="@ViewBag.PageSize" asp-route-pageNumber="@ViewBag.PageNumber" asp-action="Index" asp-route-order="country" asp-route-ordersort="@ViewBag.ordersort" asp-route-search="@ViewBag.search" asp-route-type="@ViewBag.types.SelectedValue">
                    @Html.DisplayNameFor(model => model.CountryId)
                </a>
            </th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.Name)
                </td>

                <td>
                    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Manager))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Code">Edit</a> <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.Code"> Delete </a>  <span>|</span>
                    }
                    <a asp-action="Details" asp-route-id="@item.Code">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        function go() {
            if (document.getElementById("ord").value == "desc") {
                document.getElementById("ord").value = "asc";
            }
            else
                document.getElementById("ord").value = "desc";
        }
    </script>
}
