@model IEnumerable<Suaah.Models.FlightBookingHeader>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center  m-2 mt-5 p-5 h">
    <h1>Flights Booked</h1>
</div>
<hr />

<form asp-action="index" method="get" class="m-1">
    <div class="row text-center">
        <div class="col-3 "><h3>Stauts</h3></div>
        <div class="col-3"><h3>Time</h3></div>
        <div class="col-3"><h3>Price</h3></div>
    </div>
    <div class="form-actions no-color text-center p-3 row">

        <div class="col-3">
            <label class="control-label">Status</label>
            <select name="stats" class="form-control form-select" asp-items="@ViewBag.stats">
            </select>
        </div>
        <div class="col-3">
            <label class="control-label">From</label>
            <input name="timef" type="datetime-local" class="form-control" value="@ViewBag.timef" format-value="yyyy-MM-ddThh:mm" />
        </div>
        <div class="col-3">
            <label class="control-label">From</label>
            <input name="prif" class="form-control" value="@ViewBag.prif" />
        </div>
    </div>
    <div class="row form-actions no-color text-center p-3">

        <div class="col-3">
            <label class="control-label">Payment Status</label>
            <select name="pstats" class="form-control form-select" asp-items="@ViewBag.pstats">
            </select>
        </div>
        <div class="col-3">
            <label class="control-label">To</label>
            <input name="timet" type="datetime-local" class="form-control" value="@ViewBag.timet" format-value="yyyy-MM-ddThh:mm" />
        </div>
        <div class="col-3">
            <label class="control-label">To</label>
            <input name="prit" class="form-control" value="@ViewBag.prit" />
        </div>
        <input name="ordersort" id="ord" value="@ViewBag.ordersort" hidden />
        <input name="order" value="@ViewBag.order" hidden />
    </div>
    <div class="row form-actions no-color text-center p-3">
        <div class="col-3">
            <h3>Search</h3>

            <label class="control-label">Search Type</label>
            <select name="type" class="form-control form-select" asp-items="@ViewBag.type">
            </select>
            <label class="control-label">Search</label>
            <input name="search" class="form-control" value="@ViewBag.search" />
        </div>
        <div class="col-6 m-4">
            <partial name="_Pagination" />
        </div>
    </div>


    <input type="submit" class="btn btn-outline-danger p-2  btn" style="width:100%" onclick="go();" />

</form>

<div class="text-center">
    <a asp-action="Index" class="btn btn-outline-info my-4">Back to Full List</a>
</div>
<table class="table table-hover table-striped text-center p-3">
    <thead>
        <tr>
            <th>
                <a asp-route-pageSize="@ViewBag.PageSize" asp-route-pageNumber="@ViewBag.PageNumber" asp-action="Index" asp-route-order="ID" asp-route-ordersort="@ViewBag.ordersort" asp-route-stats="@ViewBag.stats.SelectedValue" asp-route-pstats="@ViewBag.pstats.SelectedValue" asp-route-timef="@ViewBag.timef" asp-route-timet="@ViewBag.timet" asp-route-prif="@ViewBag.prif" asp-route-prit="@ViewBag.prit" asp-route-search="@ViewBag.search" asp-route-type="@ViewBag.type.SelectedValue">
                    @Html.DisplayNameFor(model=>model.ID)
                </a>
            </th>
            <th>
                @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Manager))
                {
                    <a asp-route-pageSize="@ViewBag.PageSize" asp-route-pageNumber="@ViewBag.PageNumber" asp-action="Index" asp-route-order="Customer" asp-route-ordersort="@ViewBag.ordersort" asp-route-stats="@ViewBag.stats.SelectedValue" asp-route-pstats="@ViewBag.pstats.SelectedValue" asp-route-timef="@ViewBag.timef" asp-route-timet="@ViewBag.timet" asp-route-prif="@ViewBag.prif" asp-route-prit="@ViewBag.prit" asp-route-search="@ViewBag.search" asp-route-type="@ViewBag.type.SelectedValue">
                        @Html.DisplayNameFor(model => model.Customer)
                    </a>
                }
                else
                {
                    @Html.DisplayNameFor(model => model.Customer)
                }
            </th>
            <th>
                <a asp-route-pageSize="@ViewBag.PageSize" asp-route-pageNumber="@ViewBag.PageNumber" asp-action="Index" asp-route-order="OrderDate" asp-route-ordersort="@ViewBag.ordersort" asp-route-stats="@ViewBag.stats.SelectedValue" asp-route-pstats="@ViewBag.pstats.SelectedValue" asp-route-timef="@ViewBag.timef" asp-route-timet="@ViewBag.timet" asp-route-prif="@ViewBag.prif" asp-route-prit="@ViewBag.prit" asp-route-search="@ViewBag.search" asp-route-type="@ViewBag.type.SelectedValue">
                    @Html.DisplayNameFor(model => model.OrderDate)
                </a>
            </th>
            <th>
                <a asp-route-pageSize="@ViewBag.PageSize" asp-route-pageNumber="@ViewBag.PageNumber" asp-action="Index" asp-route-order="OrderTotal" asp-route-ordersort="@ViewBag.ordersort" asp-route-stats="@ViewBag.stats.SelectedValue" asp-route-pstats="@ViewBag.pstats.SelectedValue" asp-route-timef="@ViewBag.timef" asp-route-timet="@ViewBag.timet" asp-route-prif="@ViewBag.prif" asp-route-prit="@ViewBag.prit" asp-route-search="@ViewBag.search" asp-route-type="@ViewBag.type.SelectedValue">
                    @Html.DisplayNameFor(model => model.OrderTotal)
                </a>
            </th>
            <th>
                <a asp-route-pageSize="@ViewBag.PageSize" asp-route-pageNumber="@ViewBag.PageNumber" asp-action="Index" asp-route-order="OrderStatus" asp-route-ordersort="@ViewBag.ordersort" asp-route-stats="@ViewBag.stats.SelectedValue" asp-route-pstats="@ViewBag.pstats.SelectedValue" asp-route-timef="@ViewBag.timef" asp-route-timet="@ViewBag.timet" asp-route-prif="@ViewBag.prif" asp-route-prit="@ViewBag.prit" asp-route-search="@ViewBag.search" asp-route-type="@ViewBag.type.SelectedValue">
                    @Html.DisplayNameFor(model => model.OrderStatus)
                </a>
            </th>
            <th>
                <a asp-route-pageSize="@ViewBag.PageSize" asp-route-pageNumber="@ViewBag.PageNumber" asp-action="Index" asp-route-order="PaymentStatus" asp-route-ordersort="@ViewBag.ordersort" asp-route-stats="@ViewBag.stats.SelectedValue" asp-route-pstats="@ViewBag.pstats.SelectedValue" asp-route-timef="@ViewBag.timef" asp-route-timet="@ViewBag.timet" asp-route-prif="@ViewBag.prif" asp-route-prit="@ViewBag.prit" asp-route-search="@ViewBag.search" asp-route-type="@ViewBag.type.SelectedValue">
                    @Html.DisplayNameFor(model => model.PaymentStatus)
                </a>
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderTotal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OrderStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaymentStatus)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                    @if (!User.IsInRole(SD.Role_Customer))
                    {
                        <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>

                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
    function a() {
        document.getElementById("btn").click();
    }
    function go() {
        if (document.getElementById("ord").value == "desc") {
            document.getElementById("ord").value = "asc";
        }
        else
            document.getElementById("ord").value = "desc";
    }
</script>
