@model IEnumerable<Suaah.Models.Country>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="text-center  m-2 mt-5 p-5 h">
    <h1>Countries</h1>
</div>
 
@if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Manager))
{
<div class="row m-2">
        <a class="btn btn-danger col-12" asp-action="Create">Create New Country</a>

</div>

}
<form method="get" asp-action="Index" class="m-1">
    <div class="row text-center">
        <div class="col-5 m-2">
            <label class="control-label">Search</label>
            <input name="name" class="form-control" list="list" value="@ViewBag.name" />
        </div>

        <input name="order" id="ord" value="@ViewBag.order" hidden />

      <div class="col-6 m-4">
             <partial name="_Pagination" />
        </div>

      <br />
      <datalist id="list">
          @foreach(var item in ViewBag.Names)
            {
                <option>@item</option>
            }
        </datalist>
    <input type="submit" value="-  Search  -" class="btn btn-outline-danger p-2  btn" style="width:100%" onclick="go();" />

    </div>
    
</form>

<div class="text-center">
    <a asp-action="Index" class="btn btn-outline-info my-4">Back to Full List</a>
</div>

<table class="table table-hover table-striped text-center p-3">
    <thead>
        <tr>
            <th>
                <a asp-route-pageSize="@ViewBag.PageSize" asp-route-pageNumber="@ViewBag.PageNumber" asp-action="Index" asp-route-order="@ViewBag.order" asp-route-name="@ViewBag.name">
                    @Html.DisplayNameFor(model => model.Name)
                </a>
            </th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                     @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Manager))
                    {
                    <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> <span>|</span>
                     <a asp-action="Delete" asp-route-id="@item.ID">Delete</a><span>|</span>
                    }
                    <a asp-action="Details" asp-route-id="@item.ID">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        function go() {
            if (document.getElementById("ord").value == "desc") {
                document.getElementById("ord").value = "asc";
            }
            else
                document.getElementById("ord").value = "desc";
        }
    </script>
}