@model IEnumerable<Suaah.Models.Services>
@using Suaah.Data
@inject ApplicationDbContext _context
@{
    ViewData["Title"] = "Services";

    var services = _context.Services.ToList();
}

<div class="text-center  m-2 mt-5 p-5 h">
    <h1>Services</h1>
</div>


@if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Manager))
{
    <div class="m-2 mb-2">
        <a asp-action="Create" class="w-100 d-block btn btn-danger p-2">Create New Service</a>
    </div>
}
<div class="text-center row">
    <button onclick="filter();" class="btn btn-outline-info my-4">Filter</button>
</div>
<form method="get" asp-action="Index" id="filter" style="display:none;">
      <div class="form-actions no-color text-center p-3">

        <input type="search" list="sName" name="sName" value="@ViewData["sName"]" placeholder="Service Name" class="p-2" />
        <datalist id="sName">
            @foreach (var item in services)
            {
                <option>@item.Name</option>
            }
        </datalist>

        <partial name="_Pagination" />
        <br />


    </div>
    <div>
        <input type="submit" value="-  Search  -" class="btn btn-outline-danger p-2 " style="width:100%" />
    </div>
    <br />
</form>

<div class="text-center" style="display:none;" id="full">

    <a asp-action="Index" class="btn btn-outline-info my-4">Back to Full List</a>
</div>

<table class="table table-hover table-striped text-center p-3">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-sName="@ViewData["sName"]"
                   asp-route-pageNumber="@ViewData["pageNumber"]"
                   asp-route-pageSize="@ViewData["pageSize"]"
                   asp-route-order="serv" asp-route-ordersort="@ViewBag.ordersort">
                    @Html.DisplayNameFor(model => model.Name)
                </a>
            </th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>

                    @Html.DisplayFor(modelItem => item.Name)

                </td>
                <td>
                    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Manager))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>

                        <span>|</span>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
 @section Scripts{
    <script>

function filter() {
    var form = document.getElementById("filter");
    var btn = document.getElementById("full");
    if (form.getAttribute("style") == "display:none;") {

        form.setAttribute("style", "");
        btn.setAttribute("style", "");

    }

    else { 
     
        form.setAttribute("style", "display:none;");
        btn.setAttribute("style", "display:none;");
    }
}


    </script>
}
