@model IEnumerable<Suaah.Models.Flight>

@{
    ViewData["Title"] = "Index";
}
 
<div class="text-center  m-2 mt-5 p-5 h">
    <h1>Flights</h1>
</div>
<hr />
@if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Manager))
{
<div class="row m-2">
        <a class="btn btn-danger col-12" asp-action="Create">Create New Flight</a>

</div>

}
<form method="get" asp-action="Index" class="m-1">
     <div class="row text-center">
        <div class="col-3 m-2 text-center" ><h3>Search</h3></div>
        <div class="col-3 m-2 text-center"><h3>Time</h3></div>
        <div class="col-3 m-2 text-center"><h3>Country</h3></div>

    </div>
   <div class="form-actions no-color text-center p-3 row">
        <div class="col-3" style="margin-bottom:5px;">
            <label class="control-label">Type of Search</label>
        
            <select name="type" class="form-control form-select" onchange="select();" asp-items="@ViewBag.types"></select>
        </div>
         <div class="col-3">
            <label class="control-label">From</label>
        
            <input name="timef" type="datetime-local" class="form-control" value="@ViewBag.timef" format-value="yyyy-MM-ddThh:mm" />
        </div>
         <div class="col-3">
            <label class="control-label">From</label>
        
            <input name="conf" list="names" class="form-control" value="@ViewBag.conf" />
        </div>

        <input name="ordersort" id="ord" value="@ViewBag.ordersort" hidden />
        <input name="order" value="@ViewBag.order" hidden />



    </div>
    <datalist id="names">
        @foreach(string name in ViewBag.names)
        {
            <option>@name</option>
        }
    </datalist>
    <div class="form-actions no-color text-center p-3 row">

         <div class="col-3">
            <label class="control-label">Search</label>
        
            <input name="search" list="list" class="form-control" value="@ViewBag.search" />
        </div>
        <datalist id="list">
            @foreach (var item in ViewBag.DGates)
            {
                <option>@item</option>
            }
        </datalist>
         <div class="col-3">
            <label class="control-label">To</label>
         
            <input name="timet" type="datetime-local" class="form-control" value="@ViewBag.timet" format-value="yyyy-MM-ddThh:mm" />
        </div>

       <div class="col-3">
            <label class="control-label">To</label>
         
            <input name="cont" class="form-control" list="names" value="@ViewBag.cont" />
        </div>
     
    </div>
      <br />
     <div class="text-center">
         <partial name="_Pagination" />
     </div>
        <br />
        <br />
     <input type="submit" class="btn btn-outline-danger p-2  btn" style="width:100%" onclick="go();" />
</form>

<div class="text-center">
    <a asp-action="Index" class="btn btn-outline-info my-4">Back to Full List</a>
</div>
<table class="table table-hover table-striped text-center p-3">
    <thead>
        <tr>
            <th>
                <a asp-route-pageSize="@ViewBag.PageSize" asp-route-pageNumber="@ViewBag.PageNumber" asp-action="Index" asp-route-order="DepartingGate" asp-route-ordersort="@ViewBag.ordersort" asp-route-search="@ViewBag.search" asp-route-type="@ViewBag.types.SelectedValue" asp-route-timef="@ViewBag.timef" asp-route-timet="@ViewBag.timet" asp-route-conf="@ViewBag.conf" asp-route-cont="@ViewBag.cont">
                    @Html.DisplayNameFor(model => model.DepartingGate)
                </a>
            </th>
            <th>
                <a asp-route-pageSize="@ViewBag.PageSize" asp-route-pageNumber="@ViewBag.PageNumber" asp-action="Index" asp-route-order="ArriveGate" asp-route-ordersort="@ViewBag.ordersort" asp-route-search="@ViewBag.search" asp-route-type="@ViewBag.types.SelectedValue" asp-route-timef="@ViewBag.timef" asp-route-timet="@ViewBag.timet" asp-route-conf="@ViewBag.conf" asp-route-cont="@ViewBag.cont">
                    @Html.DisplayNameFor(model => model.ArriveGate)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfStops)
            </th>
            <th>
                <a asp-route-pageSize="@ViewBag.PageSize" asp-route-pageNumber="@ViewBag.PageNumber" asp-action="Index" asp-route-order="LeaveTime" asp-route-ordersort="@ViewBag.ordersort" asp-route-search="@ViewBag.search" asp-route-type="@ViewBag.types.SelectedValue" asp-route-timef="@ViewBag.timef" asp-route-timet="@ViewBag.timet" asp-route-conf="@ViewBag.conf" asp-route-cont="@ViewBag.cont">
                    @Html.DisplayNameFor(model => model.LeaveTime)
                </a>
            </th>
            <th>
                <a asp-route-pageSize="@ViewBag.PageSize" asp-route-pageNumber="@ViewBag.PageNumber" asp-action="Index" asp-route-order="Airline" asp-route-ordersort="@ViewBag.ordersort" asp-route-search="@ViewBag.search" asp-route-type="@ViewBag.types.SelectedValue" asp-route-timef="@ViewBag.timef" asp-route-timet="@ViewBag.timet" asp-route-conf="@ViewBag.conf" asp-route-cont="@ViewBag.cont">
                    @Html.DisplayNameFor(model => model.AirlineCode)
                </a>
            </th>
            <th>
                <a asp-route-pageSize="@ViewBag.PageSize" asp-route-pageNumber="@ViewBag.PageNumber" asp-action="Index" asp-route-order="From" asp-route-ordersort="@ViewBag.ordersort" asp-route-search="@ViewBag.search" asp-route-type="@ViewBag.types.SelectedValue" asp-route-timef="@ViewBag.timef" asp-route-timet="@ViewBag.timet" asp-route-conf="@ViewBag.conf" asp-route-cont="@ViewBag.cont">
                    From
                </a>
            </th>
            <th>
                <a asp-route-pageSize="@ViewBag.PageSize" asp-route-pageNumber="@ViewBag.PageNumber" asp-action="Index" asp-route-order="To" asp-route-ordersort="@ViewBag.ordersort" asp-route-search="@ViewBag.search" asp-route-type="@ViewBag.types.SelectedValue" asp-route-timef="@ViewBag.timef" asp-route-timet="@ViewBag.timet" asp-route-conf="@ViewBag.conf" asp-route-cont="@ViewBag.cont">
                    To
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightClasses)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartingGate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArriveGate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NumberOfStops)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LeaveTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Airline.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartingAirport.Country.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ArrivingAirport.Country.Name)
                </td>
                <td>
                    <ul>
                        @foreach (FlightsClasses clas in item.FlightClasses)
                        {
                            <li> @clas.FlightClass.Class</li>
                        }
                    </ul>
                </td>
                <td>
                    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Manager))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a><span>|</span>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
function select() {
    var airline = document.getElementsByName('type')[0].value;
    if (airline == 'Departing Gate') {
    var airlines = @Html.Raw(Json.Serialize(ViewBag.DGates));
    var data;
    for (var i = 0; i < airlines.length; i++) {
        data += "<option>" + airlines[i] + "</option>";
    }
    document.getElementById("list").innerHTML = data;
    }
    else if(airline=='Arrive Gate'){
        var airlines = @Html.Raw(Json.Serialize(ViewBag.AGates));
    var data;
    for (var i = 0; i < airlines.length; i++) {
        data += "<option>" + airlines[i] + "</option>";
    }
    document.getElementById("list").innerHTML = data;
    }
    else{
        var airlines = @Html.Raw(Json.Serialize(ViewBag.Airlines));
    var data;
    for (var i = 0; i < airlines.length; i++) {
        data += "<option>" + airlines[i] + "</option>";
    }
    document.getElementById("list").innerHTML = data;
    }
}
  
        function go() {
            if (document.getElementById("ord").value == "desc") {
                document.getElementById("ord").value = "asc";
            }
            else
                document.getElementById("ord").value = "desc";
        }
    </script>
}