@model IEnumerable<Suaah.Models.Airport>

@{
    ViewData["Title"] = "Index";
}

<div class="text-center  m-2 mt-5 p-5 h">
    <h1>Airports</h1>
</div>
<hr />

@if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Manager))
{
    <div class="row m-2">
        <a class="btn btn-danger col-12" asp-action="Create">Create New Airport</a>

    </div>

}

<form method="get" asp-action="Index" class="m-1">
    <div class="row text-center">
        <div class="col-2 m-2">
            <label class="control-label">Search</label>
            <input name="search" list="list" class="form-control" value="@ViewBag.search" />
        </div>
       <div class="col-2 m-1">
            <label class="control-label">Type of Search</label>
 
            <select name="type" class="form-control form-select" onchange="select();" asp-items="@ViewBag.types"></select>
        </div>
        <input name="ordersort" id="ord" value="@ViewBag.ordersort" hidden />
        <input name="order" value="@ViewBag.order" hidden />

        <div class="col-6 m-4">
            <partial name="_Pagination" />
        </div>
    </div>
    <br />
    <input type="submit" value="-  Search  -" class="btn btn-outline-danger p-2  btn" style="width:100%" onclick="go();" />
    <datalist id="list">
        @foreach (var item in ViewBag.Names)
        {
            <option>@item</option>
        }
    </datalist>
</form>

<div class="text-center">
    <a asp-action="Index" class="btn btn-outline-info my-4">Back to Full List</a>
</div>

<table class="table table-hover table-striped text-center p-3">
    <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-order="name"
                   asp-route-ordersort="@ViewBag.ordersort"
                   asp-route-search="@ViewBag.search"
                   asp-route-type="@ViewBag.types.SelectedValue"
                   asp-route-pageSize="@ViewBag.PageSize"
                   asp-route-pageNumber="@ViewBag.PageNumber">
                    @Html.DisplayNameFor(model => model.Name)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-order="country"
                   asp-route-ordersort="@ViewBag.ordersort"
                   asp-route-search="@ViewBag.search"
                   asp-route-type="@ViewBag.types.SelectedValue"
                   asp-route-pageSize="@ViewBag.PageSize"
                   asp-route-pageNumber="@ViewBag.PageNumber">
                    @Html.DisplayNameFor(model => model.CountryId)
                </a>
            </th>
            <th>
                <a asp-action="Index" asp-route-order="city"
                   asp-route-ordersort="@ViewBag.ordersort"
                   asp-route-search="@ViewBag.search"
                   asp-route-type="@ViewBag.types.SelectedValue"
                   asp-route-pageSize="@ViewBag.PageSize"
                   asp-route-pageNumber="@ViewBag.PageNumber">
                    @Html.DisplayNameFor(model => model.City)
                </a>
            </th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Manager))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.Id"> Delete </a> <span>|</span>
                    }
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
                function select() {
    var airline = document.getElementsByName('type')[0].value;
    if (airline == 'name') {
    var airlines = @Html.Raw(Json.Serialize(ViewBag.Names));
    var data;
    for (var i = 0; i < airlines.length; i++) {
        data += "<option>" + airlines[i] + "</option>";
    }
    document.getElementById("list").innerHTML = data;
    }
    else if(airline=='country'){
        var airlines = @Html.Raw(Json.Serialize(ViewBag.Countries));
    var data;
    for (var i = 0; i < airlines.length; i++) {
        data += "<option>" + airlines[i] + "</option>";
    }
    document.getElementById("list").innerHTML = data;
    }
    else{
        var airlines = @Html.Raw(Json.Serialize(ViewBag.Cities));
    var data;
    for (var i = 0; i < airlines.length; i++) {
        data += "<option>" + airlines[i] + "</option>";
    }
    document.getElementById("list").innerHTML = data;
    }
}
        function go() {
            if (document.getElementById("ord").value == "desc") {
                document.getElementById("ord").value = "asc";
            }
            else
                document.getElementById("ord").value = "desc";
        }
    </script>
}