@model Suaah.Models.Customer

@{
    ViewData["Title"] = "Details";
    List<FlightBookingDetails> flights = ViewBag.flights;
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityUser.UserName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdentityUser.UserName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityUser.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdentityUser.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdentityUser.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdentityUser.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PassportNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PassportNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CitizenshipCountry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CitizenshipCountry)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ResidenceCountry)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResidenceCountry)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BirthDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BirthDate)
        </dd>

    </dl>
</div>
    <h1 style="text-align:center; margin-top:20px;">Flights Booked</h1>

<table class="table">
    <thead>
        <tr>
            <th>

            </th>
            <th>
                From
            </th>
            <th>
               To
            </th>
            <th>
                Total Price
            </th>
            <th>
                Class
            </th>
            <th>
                Number of Seats
            </th>
             <th>
                Airline
            </th>
            <th>
                LeaveTime
            </th>
            <th>
                Order number
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in flights) {
        <tr>
            <td style="width:12%">
               <img src="@item.Flight.ArrivingAirport.Country.PhotoPath" class="img-fluid img-thumbnail">
            </td>
            <td>
                @item.Flight.DepartingAirport.Name ,@item.Flight.DepartingAirport.City ,@item.Flight.DepartingAirport.Country.Name
            </td>
             <td>
               @item.Flight.ArrivingAirport.Name ,@item.Flight.ArrivingAirport.City ,@item.Flight.ArrivingAirport.Country.Name
            </td>
            <td>
                @item.TotalPrice
            </td>
            <td>
                <p>@item.FlightClass.Class</p>
                <p>Price:@item.Flight.FlightClasses.FirstOrDefault(f=>f.FlightClassId==item.FlightClassId).Price $</p>
            </td>
            <td>
                @item.Flight.Airline.Name
            </td>
            <td>
                @item.Flight.LeaveTime
            </td>
            <td>
                @item.OrderID
            </td>

        </tr>
}
    </tbody>
</table>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |

    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Manager))
    {
         <a asp-action="Index">Back to List</a>
    }
    else if (User.IsInRole(SD.Role_Customer))
    {
        <a asp-area="Customer" asp-controller="Home" asp-action="Index">Back to Home</a>
    }
</div>
