@using Microsoft.AspNetCore.Identity
@using Suaah.Data
@model IEnumerable<IdentityUser>
@inject ApplicationDbContext _context
@{
    ViewData["Title"] = "Users";
}

<div class="text-center  m-2 mt-5 p-5 h">
    <h1>Users</h1>

</div>

@if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Manager))
{
    <div class="m-2 mb-5">
        <a asp-area="Identity" asp-page="/Account/Register" class="w-100 d-block btn btn-danger p-2" id="register">Create New User</a>
    </div>
}

<form method="get" asp-action="Users">
    <input name="ordersort" id="ord" value="@ViewBag.ordersort" hidden />
    <input name="order" value="@ViewBag.order" hidden />

    <div class="row m-3">
        <div class="col-6">
            <label class="control-label">Search</label>
            <input name="search" list="list" class="form-control" value="@ViewBag.search" />
        </div>
        <div class="col-6">
            <label class="control-label">Type of Search</label>
            <select name="type" class="form-control form-select" onchange="select();" asp-items="@ViewBag.types"></select>
        </div>
        <datalist id="list">
            @foreach (var item in ViewBag.Users)
            {
                <option>@item</option>
            }
        </datalist>
        <div class="col-12">

            <label class="control-label">Role</label>
            <select name="role" class="form-control form-select" asp-items="@ViewBag.roles">
                <option value="">Select All</option>
            </select>
        </div>

        <div class="row w-75 m-4">
            <div class="text-center">
                <partial name="_Pagination" />
            </div>
        </div>
        <input type="submit" value="-  Search  -" class="btn btn-outline-danger p-2" style="width:100%" onclick="go();" />
    </div>

</form>

<div class="text-center">
    <a asp-action="Users" class="btn btn-outline-info my-4">Back to Full List</a>
</div>

<table class="table table-hover table-striped text-center p-3">
    <thead>
        <tr>
            <th>
                <a asp-route-pageSize="@ViewBag.PageSize" asp-route-pageNumber="@ViewBag.PageNumber" asp-action="Users" asp-route-order="name" asp-route-ordersort="@ViewBag.ordersort" asp-route-search="@ViewBag.search" asp-route-type="@ViewBag.types.SelectedValue" asp-route-role="@ViewBag.roles.SelectedValue">
                    @Html.DisplayNameFor(model => model.UserName)
                </a>
            </th>
            <th>
                <a asp-route-pageSize="@ViewBag.PageSize" asp-route-pageNumber="@ViewBag.PageNumber" asp-action="Users" asp-route-order="email" asp-route-ordersort="@ViewBag.ordersort" asp-route-search="@ViewBag.search" asp-route-type="@ViewBag.types.SelectedValue" asp-route-role="@ViewBag.roles.SelectedValue">
                    @Html.DisplayNameFor(model => model.Email)
                </a>
            </th>
            <th>
                <a asp-route-pageSize="@ViewBag.PageSize" asp-route-pageNumber="@ViewBag.PageNumber" asp-action="Users" asp-route-order="phone" asp-route-ordersort="@ViewBag.ordersort" asp-route-search="@ViewBag.search" asp-route-type="@ViewBag.types.SelectedValue" asp-route-role="@ViewBag.roles.SelectedValue">
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </a>
            </th>
            <th>
                <a asp-route-pageSize="@ViewBag.PageSize" asp-route-pageNumber="@ViewBag.PageNumber" asp-action="Users" asp-route-order="role" asp-route-ordersort="@ViewBag.ordersort" asp-route-search="@ViewBag.search" asp-route-type="@ViewBag.types.SelectedValue" asp-route-role="@ViewBag.roles.SelectedValue">
                    Role
                </a>
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>
                <td>
                    @{
                        var roleId = _context.UserRoles.FirstOrDefault(u => u.UserId == item.Id).RoleId;
                        var role = _context.Roles.FirstOrDefault(u => u.Id == roleId).Name;
                    }

                    @role
                </td>
                <td>

                    @{
                        if (User.IsInRole(SD.Role_Manager))
                        {
                                    <a asp-area="Identity" asp-page="/Account/Manage/Index" asp-route-id="@item.Id">Edit |</a>
                        }
                        else if (User.IsInRole(SD.Role_Admin) && role == "Customer")
                        {
                                    <a asp-area="Identity" asp-page="/Account/Manage/Index" asp-route-id="@item.Id">Edit |</a>
                        }
                        else
                        {
                                    <input type="submit" value="Edit" disabled /> <span>|</span>
                        }

                        if (role == "Customer")
                        {
                                    <a asp-action="Details" asp-route-id="@item.Id">Details |</a>
                        }
                        else
                        {
                                    <input type="submit" value="Details" disabled /> <span>|</span>
                        }

                        if (role == "Customer" || (role == "Admin" && User.IsInRole(SD.Role_Manager)))
                        {
                                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        }
                        //else if (role == "Admin" && User.IsInRole(SD.Role_Manager))
                        //{
                        //    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        //}
                        else
                        {
                                    <input type="submit" value="Delete" disabled />
                        }
                    }

                </td>
            </tr>
        }
    </tbody>
</table>
@section Scripts{
    <script>
        function select() {
    var airline = document.getElementsByName('type')[0].value;
    if (airline == 'User Name') {
    var airlines = @Html.Raw(Json.Serialize(ViewBag.Users));
    var data;
    for (var i = 0; i < airlines.length; i++) {
        data += "<option>" + airlines[i] + "</option>";
    }
    document.getElementById("list").innerHTML = data;
    }
    else if(airline=='Email'){
        var airlines = @Html.Raw(Json.Serialize(ViewBag.Emails));
    var data;
    for (var i = 0; i < airlines.length; i++) {
        data += "<option>" + airlines[i] + "</option>";
    }
    document.getElementById("list").innerHTML = data;
    }
    else if(airline=='Phone'){
        var airlines = @Html.Raw(Json.Serialize(ViewBag.Phones));
    var data;
    for (var i = 0; i < airlines.length; i++) {
        data += "<option>" + airlines[i] + "</option>";
    }
    document.getElementById("list").innerHTML = data;
    }

}
function go() {
            if (document.getElementById("ord").value == "desc") {
                document.getElementById("ord").value = "asc";
            }
            else
                document.getElementById("ord").value = "desc";
        }
    </script>
}