@model Suaah.Models.Hotel

@{
    ViewData["Title"] = "Details";
}


<div class="m-4 text-end">
    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Manager))
    {
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-danger">Edit</a>
    }
    <a asp-action="Index" class="btn btn-outline-primary">Back to List</a>
</div>

<div class="card m-4 p-2 " style="width: 100%;">
    <div class="card-body">
        <h1 class="text-center m-2">Details of  @Html.DisplayFor(model => model.Name) Hotel</h1>
        <div class="container rounded p-2">
            <div class="row">
                <div class="col-12 col-lg-6 pb-4">

                    <div class="row my-1">
                        <div class="col-3">
                            <h4 class="card-subtitle mb-2 text-muted d-inline">Description:</h4>

                        </div>
                        <div class="col-9">
                            <p class="card-text f mx-3">@Html.DisplayFor(model => model.Description)</p>
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-3">
                            <h4 class="card-subtitle mb-2 text-muted d-inline">Country:</h4>
                        </div>
                        <div class="col-9">
                            <p class="card-text d-inline f"> @Html.DisplayFor(model => model.Country.Name)</p> <br /><br />
                        </div>
                    </div> 
                    <div class="row my-1">
                        <div class="col-3">
                            <h4 class="card-subtitle mb-2 text-muted d-inline">Address:</h4>
                        </div>
                        <div class="col-9">
                            <p class="card-text d-inline f"> @Html.DisplayFor(model => model.Address)</p> <br /><br />
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-3">
                            <h4 class="card-subtitle mb-2 text-muted d-inline">Email:</h4>
                        </div>
                        <div class="col-9">
                            <p class="card-text d-inline f">@Html.DisplayFor(model => model.Email)</p> <br /><br />
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-3">
                            <h4 class="card-subtitle mb-2 text-muted d-inline">PhoneNumber:</h4>
                        </div>
                        <div class="col-9">
                            <p class="card-text d-inline f">@Html.DisplayFor(model => model.PhoneNumber)</p> <br /><br />
                        </div>
                    </div>
                    <div class="row my-1">
                        <div class="col-3">
                            <h4 class="card-subtitle mb-2 text-muted d-inline">Stars:</h4>
                        </div>
                        <div class="col-9">
                            <p class="card-text d-inline f">@Html.DisplayFor(model => model.Stars)</p> <br /><br />
                        </div>
                    </div>
                </div>
                <div class="col-8 col-lg-5 offset-lg-1 text-left position-relative">
                    <img src="@Model.ImageUrl" style="width:80%; height:auto; position:absolute" />
                </div>
            </div>
        </div>
    </div>
</div>
<br />
<br />

<br />


<div class="card m-4 p-2" style="width: 100%;">
    <div class="card-body p-4">
        <h2 class="text-center mt-2">Rooms of  @Html.DisplayFor(model => model.Name) Hotel</h2>
        <br />

        <div class="text-center">
            <a class="btn btn-outline-danger m-4 w-75" data-bs-toggle="collapse" href="#c" role="button" aria-expanded="false" aria-controls="collapseExample">
                Details
            </a>
        </div>

        <div class="row text-center">

            @foreach (var item in Model.HotelRooms)
            {
                <div class="card m-auto" style="width: 18rem;">
                    <img src="@item.ImageUrl" class="card-img-top" alt="@item.Description" style="height:200px">
                    <div class="card-body">
                        <h5 class="card-title">@item.Description</h5>
                    </div>
                    <a class="btn btn-danger form-control" asp-area="Customer" asp-controller="HotelBookings" asp-action="Create" asp-route-roomId="@item.Id">Booking</a>

                    <p>
                    </p>
                    <div class="collapse" id="c">
                        <div class="card card-body">
                            <h5 class="card-subtitle mb-2 text-muted d-inline"> Price:</h5>@item.Price
                            <h5 class="card-subtitle mb-2 text-muted d-inline"> Cancel Be foreHours:</h5>@item.CancelBeforeHours

                            <h5 class="card-subtitle mb-2 text-muted d-inline"> Services:</h5>

                            @foreach (var item2 in item.Services)
                            {
                                @item2.Services.Name <br />
                            }
                        </div>
                        <br>
                    </div>
                </div>

            }
        </div>
    </div>
</div>

