@model IEnumerable<Suaah.Models.Hotel>
@using Suaah.Data
@inject ApplicationDbContext _context
@{
    ViewData["Title"] = "Hotels";

    var hotels = _context.Hotels.ToList();
    var countries = _context.Countries.ToList();
}


<div class="text-center  m-2 mt-5 p-5 h">
    <h1>Hotels</h1>
</div>
<hr />
@if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Manager))
{
    <div class="m-2 mb-5">
        <a asp-action="Create" class="w-100 d-block btn btn-danger p-2">Create New Hotel</a>
    </div>
}

<form asp-action="Index" method="get">
    <input name="ordersort" id="ord" value="@ViewBag.ordersort" hidden /> @*////////////*@
    <input name="order" value="@ViewBag.order" hidden />@*////////////*@

    <div class="form-actions no-color text-center p-3">

        <input type="search" list="nName" name="hName" value="@ViewData["hName"]" placeholder="Hotel Name" class="p-2" />
        <datalist id="nName">
            @foreach (var item in hotels)
            {
                <option>@item.Name</option>
            }
        </datalist>

        <input type="search" list="haddress" name="hAddress" value="@ViewData["hAddress"]" placeholder="Hotel Address" class="p-2" />
        <datalist id="haddress">
            @foreach (var item in hotels)
            {
                <option>@item.Address</option>
            }
        </datalist>

        <input type="search" list="hemail" name="hEmail" value="@ViewData["hEmail"]" placeholder="Hotel Email" class="p-2" />
        <datalist id="hemail">
            @foreach (var item in hotels)
            {
                <option>@item.Email</option>
            }
        </datalist>

        <input type="search" list="PhoneNumber" name="hPhoneNumber" value="@ViewData["hPhoneNumber"]" placeholder="Hotel Phone" class="p-2" />
        <datalist id="PhoneNumber">
            @foreach (var item in hotels)
            {
                <option>@item.PhoneNumber</option>
            }
        </datalist>

        <input type="search" list="Stars" name="hStars" value="@ViewData["hStars"]" placeholder="Hotel Stars" class="p-2" />
        <datalist id="Stars">
            @foreach (var item in hotels.DistinctBy(f => f.Stars))
            {
                <option>@item.Stars</option>
            }
        </datalist>

        <input type="search" list="country" name="hCountry" value="@ViewData["hCountry"]" placeholder="Country" class="p-2" />
        <datalist id="country">
            @foreach (var item in countries)
            {
                <option>@item.Name</option>
            }
        </datalist>

        <br />
        <br />
        <partial name="_Pagination" />
        <br />


    </div>
    <div>
        <input type="submit" value="-  Search  -" class="btn btn-outline-danger p-2 " style="width:100%" onclick="go();"/>@*////////////*@
    </div>
    <br />
</form>

<div class="text-center">
    <a asp-action="Index" class="btn btn-outline-info my-4">Back to Full List</a>
</div>

<table class="table table-hover table-striped text-center p-3">
    <thead>
        <tr>
            <th>
                <a asp-action="Index"
                   asp-route-hName="@ViewData["hName"]" asp-route-hAddress="@ViewData["hAddress"]"
                   asp-route-hStars="@ViewData["hStars"]"
                   asp-route-pageNumber="@ViewData["pageNumber"]"
                   asp-route-pageSize="@ViewData["pageSize"]"
                   asp-route-order="name" asp-route-ordersort="@ViewBag.ordersort">
                    @Html.DisplayNameFor(model => model.Name)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-hName="@ViewData["hName"]" asp-route-hAddress="@ViewData["hAddress"]"
                   asp-route-hStars="@ViewData["hStars"]"
                   asp-route-pageNumber="@ViewData["pageNumber"]"
                   asp-route-pageSize="@ViewData["pageSize"]"
                   asp-route-order="country" asp-route-ordersort="@ViewBag.ordersort">
                    @Html.DisplayNameFor(model => model.CountryId)
                </a>
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-hName="@ViewData["hName"]" asp-route-hAddress="@ViewData["hAddress"]"
                   asp-route-hStars="@ViewData["hStars"]"
                   asp-route-pageNumber="@ViewData["pageNumber"]"
                   asp-route-pageSize="@ViewData["pageSize"]"
                   asp-route-order="add" asp-route-ordersort="@ViewBag.ordersort">
                    @Html.DisplayNameFor(model => model.Address)
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                <a asp-action="Index"
                   asp-route-hName="@ViewData["hName"]" asp-route-hAddress="@ViewData["hAddress"]"
                   asp-route-hStars="@ViewData["hStars"]"
                   asp-route-pageNumber="@ViewData["pageNumber"]"
                   asp-route-pageSize="@ViewData["pageSize"]"
                   asp-route-order="stars" asp-route-ordersort="@ViewBag.ordersort">
                    @Html.DisplayNameFor(model => model.Stars)
                </a>
            </th>
            <th>Operations</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Country.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhoneNumber)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Stars)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a>

                    @if (User.IsInRole(SD.Role_Admin) || User.IsInRole(SD.Role_Manager))
                    {
                        <span>|</span> <a asp-action="Edit" asp-route-id="@item.Id">Edit</a>  <span>|</span>
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
<script>
function go() {
    if (document.getElementById("ord").value == "desc") {
        document.getElementById("ord").value = "asc";
    }
    else
        document.getElementById("ord").value = "desc";
}
</script>