@model Suaah.Models.Flight

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Flight</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartingGate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartingGate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArriveGate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArriveGate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Class)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Class)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumberOfStops)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumberOfStops)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateAndTime)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateAndTime)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AirlineCode)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AirlineCode)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepartingAirport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepartingAirport.City)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArrivingAirport)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArrivingAirport.City)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
